* {
    color: white;
}
/*Background Colors*/
header, footer {
    background-color: #090909;
}
.top-nav, #sidebar {
    background-color: #191919
}
.side-nav {
    background-color: #292929;
}
/*Navbar*/
a:link, a:visited {
    text-decoration: none;
    display: block;
    color: white;
}
.nav-logo {
    max-height: 3.5rem;
}
.side-nav:nth-child(2) {
    position: sticky;
    top: 3.5rem;
}
.side-nav:nth-child(3) {
    position: sticky;
    top: 6rem;
}
.side-nav:nth-child(4) {
    position: sticky;
    top: 8.5rem;
}
.side-img {
    max-height: 2.5rem;
}
.collapse-link {
    color: white;
    padding: 0.5rem;
}
#sidenav-img-1 {
    max-width: 4rem;
}
#sidenav-img-2 {
    max-width: 12rem;
}

/*Main*/
.main {
    background-color: #1E1E1E;
}